In [1]:
import pandas as pd

In [2]:
rawdata = pd.read_csv("/Users/jaygajera/Desktop/RANZCR/audit_workload_nepean/dataset/combined2022dataset.csv")

In [3]:
rawdata.head()

,Unnamed: 0,Request ID,Accession Number,MRN,AUID,DOB,Gender,Suburb,Postcode,Admission,...,Registered Day,Registered Hour,Verified Day,Verified Hour,Preliminary Day,Preliminary Hour,Authorised Day,Authorised Hour,Performed,Data Last Refreshed
0,0,2021NB0151292,2021NB0151292-1,74108.0,1.002257e+09,1951-04-18,Female,PENRITH,2750.0,Inpatient,...,Friday,23.0,Saturday,0.0,Saturday,0.0,Saturday,11.0,2021-12-31 23:51:57,2023-07-12 06:00
1,1,2021NB0151302,2021NB0151302-1,3301491.0,1.003503e+09,1992-01-22,Male,CAMBRIDGE PARK,2747.0,Emergency,...,Friday,23.0,Saturday,0.0,NaN,NaN,Saturday,16.0,2021-12-31 23:59:36,2023-07-12 06:00
2,2,2021NB0151303,2021NB0151303-1,4440948.0,1.001762e+09,1951-10-08,Male,HEBERSHAM,2770.0,Inpatient,...,Friday,23.0,Saturday,0.0,NaN,NaN,Saturday,16.0,2021-12-31 23:58:46,2023-07-12 06:00
3,3,2022NB0000001,2022NB0000001-1,700399.0,1.003038e+09,1971-06-27,Male,COLYTON,2760.0,Inpatient,...,Saturday,0.0,Saturday,0.0,NaN,NaN,Saturday,15.0,2022-01-01 00:17:17,2023-07-12 06:00
4,4,2022NB0000002,2022NB0000002-1,5184.0,1.002208e+09,1962-11-03,Male,Penrith,2750.0,Inpatient,...,Saturday,0.0,Saturday,0.0,NaN,NaN,Saturday,16.0,2022-01-01 00:37:53,2023-07-12 06:00

In [4]:
#drop unnecessary columns in the dataset
#example time.drop(columns=['B', 'C'])

time = rawdata.drop(columns=['Request ID', 'MRN', 'AUID', 'DOB', 'Gender', 'Suburb', 'Postcode', 'Admission', 'Visit Number', 'Performing MRP', 'Hospital', 'Worksite', 'Service Department', 'Resource', 'Financial Class', 'Invoice Type', 'Ward Code', 'Ward Name', 'Report Priority', 'Provider Number', 'Requesting Doctor', 'Requesting Doctor Location', 'Speciality', 'RIS Status', 'PACS Status', 'Eorder Date', 'Eorder Time', 'Order Placer', 'Clinical History', 'Received Date', 'Received Time', 'Approval Date', 'Approval Time', 'Booked Date', 'Booked Time', 'Registered Date', 'Registered Time', 'Commenced Date', 'Commenced Time', 'Completed Date', 'Completed Time', 'Imaging Note', 'Cancelled Y/N', 'Cancelled Date', 'Cancelled Time', 'Cancelled By', 'Cancel Reason', 'Report Typed Date', 'Report Typed Time', 'Typist', 'Preliminary Date', 'Preliminary Time', 'Preliminary Author ID', 'Authorised Date', 'Authorised Time', 'Authorised Author ID', 'Coreported', 'Reviewed By', 'Reviewer ID', 'Amended Date', 'Amended Time', 'Ammended Author', 'Ammended Doctor ID', 'TAT (min) Eorder to Recieved', 'TAT (min) Recieved to Registered', 'TAT (min) Registered to Commenced', 'TAT (min) Registered to Verified', 'TAT (min) Registered to Preliminary', 'TAT (min) Registered to Authorised', 'TAT (min) Commenced to Verified', 'TAT (min) Verified to Preliminary', 'TAT (min) Verified to Authorised','TAT (min) Preliminary to Authorised', 'Eorder Day', 'Eorder Hour', 'Recieved Day', 'Recieved Hour', 'Registered Day', 'Registered Hour', 'Verified Day', 'Verified Hour', 'Preliminary Day', 'Preliminary Hour', 'Authorised Day', 'Authorised Hour', 'Data Last Refreshed'])

In [5]:
time.head()

,Unnamed: 0,Accession Number,Request Admission,Modality,Ordered Code,Ordered Name,Performed Code,Performed Service Name,Verified Date,Verified Time,Preliminary Author,Authorised Author,Performed
0,0,2021NB0151292-1,Emergency,CT,CTAP,CT Abdomen Pelvis,CTAP,CT Abdomen Pelvis,2022-01-01,00:09,Rajesh Pompapathy (Nepean Blue Mountains LHD),Joga Rao Chaganti (Sydney LHD),2021-12-31 23:51:57
1,1,2021NB0151302-1,Emergency,XR,MOBCHE,Mobile X-Ray Chest,MOBCHE,Mobile X-Ray Chest,2022-01-01,00:19,NaN,Thomas Mathews (South Western Sydney LHD),2021-12-31 23:59:36
2,2,2021NB0151303-1,Emergency,XR,MOBCHE,Mobile X-Ray Chest,MOBCHE,Mobile X-Ray Chest,2022-01-01,00:19,NaN,Thomas Mathews (South Western Sydney LHD),2021-12-31 23:58:46
3,3,2022NB0000001-1,Inpatient,XR,MOBCHE,Mobile X-Ray Chest,MOBCHE,Mobile X-Ray Chest,2022-01-01,00:38,NaN,Thomas Mathews (South Western Sydney LHD),2022-01-01 00:17:17
4,4,2022NB0000002-1,Emergency,XR,XRCHE,X-Ray Chest,XRCHE,X-Ray Chest,2022-01-01,00:58,NaN,Thomas Mathews (South Western Sydney LHD),2022-01-01 00:37:53

In [6]:
result = time.dtypes

In [7]:
print(result)

Unnamed: 0                 int64
Accession Number          object
Request Admission         object
Modality                  object
Ordered Code              object
Ordered Name              object
Performed Code            object
Performed Service Name    object
Verified Date             object
Verified Time             object
Preliminary Author        object
Authorised Author         object
Performed                 object
dtype: object

In [8]:
time['verifieddate'] = time.loc[:, 'Verified Date']
time['verifiedtime'] = time.loc[:, 'Verified Time']
time['performed'] = time.loc[:, 'Performed']

In [9]:
#conversion to datetime, specifying the input format
#time['Verified Time'] = pd.to_datetime(time['Verified Time'], format='%d/%m/%Y:%H:%M:%S.%f')
#time['Verified Time'] = pd.to_datetime(time['Verified Time'], format='%x:%X')

In [10]:
#conversion to datetime, specifying the input format
#time['performed'] = pd.to_datetime(time['performed'], format='%d/%m/%Y %H:%M:%S')

In [11]:
#conversion to datetime, specifying the input format (keeping everything)
time['performed'] = pd.to_datetime(time['performed'], infer_datetime_format=True)

/var/folders/h7/v984v5px19z81f9lq_00tlc80000gn/T/ipykernel_66804/3056377134.py:2: UserWarning: The argument 'infer_datetime_format' is deprecated and will be removed in a future version. A strict version of it is now the default, see https://pandas.pydata.org/pdeps/0004-consistent-to-datetime-parsing.html. You can safely remove this argument.
  time['performed'] = pd.to_datetime(time['performed'], infer_datetime_format=True)

In [12]:
#conversion to datetime, specifying the input format (keeping hours and minutes only, dropping year)
time['verifiedtime'] = pd.to_datetime(time['verifiedtime'], format='%H:%M')

In [13]:
#conversion to datetime, specifying the input format (keeping year/month/day only, dropping hours and minutes)
time['verifieddate'] = pd.to_datetime(time['verifieddate'], format='%d/%m/%Y')

ValueError: time data "2022-01-01" doesn't match format "%d/%m/%Y", at position 0. You might want to try:
    - passing `format` if your strings have a consistent format;
    - passing `format='ISO8601'` if your strings are all ISO8601 but not necessarily in exactly the same format;
    - passing `format='mixed'`, and the format will be inferred for each element individually. You might want to use `dayfirst` alongside this.

In [ ]:
result1 = time.dtypes
print(result1)

In [ ]:
time

In [ ]:
#extract the month as numerical integer in a new column
time['month'] = pd.DatetimeIndex(time['verifieddate']).month
#alternativesolution#time['month_year'] = pd.to_datetime(time['performed']).dt.to_period('M')
time.head()

In [ ]:
#filter data for CT only
ct = time[time.Modality == 'CT']

In [ ]:
#MAP values for study ascribable time

In [ ]:
list_of_codes = time['Performed Code'].to_list()
list_of_descriptions = ct['Performed Service Name'].to_list()
zip(list_of_codes, list_of_descriptions)
next(zip(list_of_codes, list_of_descriptions))

In [ ]:
#map codes to descriptions
codes_dictionary = dict(zip(list_of_codes, list_of_descriptions))

In [ ]:
import collections

In [ ]:
ctsatnepean = pd.read_csv('../jupyter/ct_sat_definitions_UPDATED.csv')

In [ ]:
list_of_ct_exam_descriptions = ctsatnepean['Performed Service Name'].to_list()

In [ ]:
list_of_ct_sat_values = ctsatnepean['ct_sat_value'].to_list()

In [ ]:
zip(list_of_ct_exam_descriptions, list_of_ct_sat_values)

In [ ]:
next(zip(list_of_ct_exam_descriptions, list_of_ct_sat_values))

In [ ]:
ct_sat_dictionary = dict(zip(list_of_ct_exam_descriptions, list_of_ct_sat_values))

In [ ]:
ct_sat_dictionary

In [ ]:
ct['study_ascribable_time'] = ct['Performed Service Name'].map(ct_sat_dictionary)

In [ ]:
ct

In [ ]:
#Process all months in the dataset

In [ ]:
ct['Verified Time'] = ct['Verified Time'].str.replace(':', '').astype(int)

In [ ]:
ct

In [ ]:
#filter time for night shift (0000-0800)
dfnight = ct[(ct['Verified Time'] < 800)]

In [ ]:
dfnight

In [ ]:
#filter time for evening shift (1600-0000)
dfeve = ct[(ct['Verified Time'] > 1600)]

In [ ]:
dfeve

In [ ]:
#combine night shift + evening shift dataframes
dfall = pd.concat([dfnight, dfeve], axis = 0)

In [ ]:
#sandbox - IGNORE THIS LINE this solution didnt work
#ct1eve['SATperday'] = ct1eve.groupby(['month', 'study_ascribable_time']).transform('count')

In [ ]:
#BREAK#####################################################################################

In [ ]:
import seaborn as sns
import matplotlib.pylab as plt
import numpy as np

In [ ]:
#count the number of afterhours (0000-0800 + 1600-0000) CT's verified per day
ctall = dfall['verifieddate'].value_counts().sort_index().reset_index()

In [ ]:
ctall

In [ ]:
p = sns.barplot(data=ctall, x='index', y='verifieddate')
p.set(title='All after hours CT (0000-0800 & 1600-2400)')
p.set_xlabel("Date", fontsize = 20)
p.set_ylabel("Frequency", fontsize = 20)
plt.xticks(rotation=90)
plt.show()

In [ ]:
ctnightall = dfnight['verifieddate'].value_counts().sort_index().reset_index()

In [ ]:
ctnightall

In [ ]:
q = sns.barplot(data=ctnightall, x='index', y='verifieddate')
q.set(title='Night Shift (0000-0800)')
q.set_xlabel("Date", fontsize = 20)
q.set_ylabel("Frequency", fontsize = 20)
q.axhline(30)
plt.xticks(rotation=90)
plt.show()

In [ ]:
#separator

In [ ]:
cteveall = dfeve['verifieddate'].value_counts().sort_index().reset_index()

In [ ]:
cteveall

In [ ]:
q = sns.barplot(data=cteveall, x='index', y='verifieddate')
q.set(title='Evening Shift (1600-0000)')
q.set_xlabel("Date", fontsize = 20)
q.set_ylabel("Frequency", fontsize = 20)
q.axhline(30)
plt.xticks(rotation=90)
plt.show()

In [ ]:
#BREAK#######################################################################

In [ ]:
##BREAK#############################################################

In [ ]:
#create new dataframe with selected columns only
ctcut = ct[['verifieddate', 'performed','study_ascribable_time']]

In [ ]:
ctcut

In [ ]:
ctsat = ctcut.groupby(by=["verifieddate"]).sum()

In [ ]:
ctsat

In [ ]:
#BREAK###########################################################################################

In [ ]:
#Filter dataset month specific

#filter data for January only
ct1 = ct[ct.month == 1]
#filter data for Feb only
ct2 = ct[ct.month == 2]
#filter data for Mar only
ct3 = ct[ct.month == 3]
#filter data for Apr only
ct4 = ct[ct.month == 4]
#filter data for May only
ct5 = ct[ct.month == 5]
#filter data for Jun only
ct6 = ct[ct.month == 6]
#filter data for Jul only
ct7 = ct[ct.month == 7]
#filter data for Aug only
ct8 = ct[ct.month == 8]
#filter data for Sep only
ct9 = ct[ct.month == 9]
#filter data for Oct only
ct10 = ct[ct.month == 10]
#filter data for Nov only
ct11 = ct[ct.month == 11]
#filter data for Dec only
ct12 = ct[ct.month == 12]

In [ ]:
#filter time for night shift (0000-0800)
ct1night = ct1[(ct1['Verified Time'] < 800)]
#filter time for evening shift (1600-0000)
ct1eve = ct1[(ct1['Verified Time'] > 1600)]

#filter time for night shift (0000-0800)
ct2night = ct2[(ct2['Verified Time'] < 800)]
#filter time for evening shift (1600-0000)
ct2eve = ct2[(ct2['Verified Time'] > 1600)]

#filter time for night shift (0000-0800)
ct3night = ct3[(ct3['Verified Time'] < 800)]
#filter time for evening shift (1600-0000)
ct3eve = ct3[(ct3['Verified Time'] > 1600)]

#filter time for night shift (0000-0800)
ct4night = ct4[(ct4['Verified Time'] < 800)]
#filter time for evening shift (1600-0000)
ct4eve = ct4[(ct4['Verified Time'] > 1600)]

#filter time for night shift (0000-0800)
ct5night = ct5[(ct5['Verified Time'] < 800)]
#filter time for evening shift (1600-0000)
ct5eve = ct5[(ct5['Verified Time'] > 1600)]

#filter time for night shift (0000-0800)
ct6night = ct6[(ct6['Verified Time'] < 800)]
#filter time for evening shift (1600-0000)
ct6eve = ct6[(ct6['Verified Time'] > 1600)]

#filter time for night shift (0000-0800)
ct7night = ct7[(ct7['Verified Time'] < 800)]
#filter time for evening shift (1600-0000)
ct7eve = ct7[(ct7['Verified Time'] > 1600)]

#filter time for night shift (0000-0800)
ct8night = ct8[(ct8['Verified Time'] < 800)]
#filter time for evening shift (1600-0000)
ct8eve = ct8[(ct8['Verified Time'] > 1600)]

#filter time for night shift (0000-0800)
ct9night = ct9[(ct9['Verified Time'] < 800)]
#filter time for evening shift (1600-0000)
ct9eve = ct9[(ct9['Verified Time'] > 1600)]

#filter time for night shift (0000-0800)
ct10night = ct10[(ct10['Verified Time'] < 800)]
#filter time for evening shift (1600-0000)
ct10eve = ct10[(ct10['Verified Time'] > 1600)]

#filter time for night shift (0000-0800)
ct11night = ct11[(ct11['Verified Time'] < 800)]
#filter time for evening shift (1600-0000)
ct11eve = ct11[(ct11['Verified Time'] > 1600)]

#filter time for night shift (0000-0800)
ct12night = ct12[(ct12['Verified Time'] < 800)]
#filter time for evening shift (1600-0000)
ct12eve = ct12[(ct12['Verified Time'] > 1600)]

In [ ]:
df1eve = ct1eve['verifieddate'].value_counts().sort_index().reset_index()
df2eve = ct2eve['verifieddate'].value_counts().sort_index().reset_index()
df3eve = ct3eve['verifieddate'].value_counts().sort_index().reset_index()
df4eve = ct4eve['verifieddate'].value_counts().sort_index().reset_index()
df5eve = ct5eve['verifieddate'].value_counts().sort_index().reset_index()
df6eve = ct6eve['verifieddate'].value_counts().sort_index().reset_index()
df7eve = ct7eve['verifieddate'].value_counts().sort_index().reset_index()
df8eve = ct8eve['verifieddate'].value_counts().sort_index().reset_index()
df9eve = ct9eve['verifieddate'].value_counts().sort_index().reset_index()
df10eve = ct10eve['verifieddate'].value_counts().sort_index().reset_index()
d11eve = ct11eve['verifieddate'].value_counts().sort_index().reset_index()
df12eve = ct12eve['verifieddate'].value_counts().sort_index().reset_index()

df1night = ct1night['verifieddate'].value_counts().sort_index().reset_index()
df2night = ct2night['verifieddate'].value_counts().sort_index().reset_index()
df3night = ct3night['verifieddate'].value_counts().sort_index().reset_index()
df4night = ct4night['verifieddate'].value_counts().sort_index().reset_index()
df5night = ct5night['verifieddate'].value_counts().sort_index().reset_index()
df6night = ct6night['verifieddate'].value_counts().sort_index().reset_index()
df7night = ct7night['verifieddate'].value_counts().sort_index().reset_index()
df8night = ct8night['verifieddate'].value_counts().sort_index().reset_index()
df9night = ct9night['verifieddate'].value_counts().sort_index().reset_index()
df10night = ct10night['verifieddate'].value_counts().sort_index().reset_index()
d11night = ct11night['verifieddate'].value_counts().sort_index().reset_index()
df12night = ct12night['verifieddate'].value_counts().sort_index().reset_index()

In [ ]:
#MONTH BY MONTH ANALYSIS

In [ ]:
#AUGUST

In [ ]:
#Plot graph for number of CT performed in August per date
import seaborn as sns
import matplotlib.pyplot as plt

x1night = df1night['verifieddate']  # Column for X-axis (e.g., timestamps)
y1night = df1night['count']         # Column for Y-axis (e.g., frequency)

# Create the bar plot
q1night = sns.barplot(x=x1night, y=y1night)

# Set the title of the plot
q1night.set(title='Night Shift (0000-0800)')

# Set the X and Y labels
q1night.set_xlabel("Date", fontsize=20)
q1night.set_ylabel("Number of CT scans", fontsize=20)

# Add a horizontal line at y=40
q1night.axhline(40)

# Rotate the X-axis tick labels by 90 degrees
plt.xticks(rotation=90)

# Add numerical values on top of each bar
for p in q1night.patches:
    q1night.annotate(format(p.get_height(), '.0f'),
                     (p.get_x() + p.get_width() / 2., p.get_height()),
                     ha='center', va='center',
                     xytext=(0, 5),
                     textcoords='offset points',
                     fontsize=10,
                     color='white')  # Change color to white

# Display the plot
plt.show()

In [ ]:
#calculate SAT per day for August per date
#for night shift
ct8night_sat = ct8night.groupby(by=["verifieddate"]).sum()
#make index into a column
ct8night_sat['date'] = ct8night_sat.index

#for evening shift
ct8eve_sat = ct8eve.groupby(by=["verifieddate"]).sum()
#make index into a column
ct8eve_sat['date'] = ct8eve_sat.index

In [ ]:
#proof to see the transformation has worked (take away the #)
#ct8night_sat

In [ ]:
#proof to see the transformation has worked (take away the #)
#ct8eve_sat

In [ ]:
#plot graph for August SAT per date
q = sns.barplot(data=ct8eve_sat, x='date', y='study_ascribable_time')
q.set(title='Evening Shift (1600-0000)')
q.set_xlabel("Date", fontsize = 20)
q.set_ylabel("Study Ascribable Time", fontsize = 20)
q.axhline(360)
plt.xticks(rotation=90)
plt.show()

q = sns.barplot(data=ct8night_sat, x='date', y='study_ascribable_time')
q.set(title='Night Shift (0000-0800)')
q.set_xlabel("Date", fontsize = 20)
q.set_ylabel("Study Ascribable Time", fontsize = 20)
q.axhline(300)
plt.xticks(rotation=90)
plt.show()

In [ ]:
#SEPTEMBER

In [ ]:
#plot graph for number of CT per date - September
q = sns.barplot(data=df9eve, x='index', y='verifieddate')
q.set(title='Evening Shift (1600-0000)')
q.set_xlabel("Date", fontsize = 20)
q.set_ylabel("Number of CT scans", fontsize = 20)
q.axhline(30)
plt.xticks(rotation=90)
plt.show()

q = sns.barplot(data=df9night, x='index', y='verifieddate')
q.set(title='Night Shift (0000-0800)')
q.set_xlabel("Date", fontsize = 20)
q.set_ylabel("Number of CT scans", fontsize = 20)
q.axhline(30)
plt.xticks(rotation=90)
plt.show()

In [ ]:
#calculate SAT per day September
#for night shift
ct9night_sat = ct9night.groupby(by=["verifieddate"]).sum()
#make index into a column
ct9night_sat['date'] = ct9night_sat.index

#for evening shift
ct9eve_sat = ct9eve.groupby(by=["verifieddate"]).sum()
#make index into a column
ct9eve_sat['date'] = ct9eve_sat.index

In [ ]:
#plot graph for SAT per date September
q = sns.barplot(data=ct9eve_sat, x='date', y='study_ascribable_time')
q.set(title='Evening Shift (1600-0000)')
q.set_xlabel("Date", fontsize = 20)
q.set_ylabel("Study Ascribable Time", fontsize = 20)
q.axhline(360)
plt.xticks(rotation=90)
plt.show()

q = sns.barplot(data=ct9night_sat, x='date', y='study_ascribable_time')
q.set(title='Night Shift (0000-0800)')
q.set_xlabel("Date", fontsize = 20)
q.set_ylabel("Study Ascribable Time", fontsize = 20)
q.axhline(300)
plt.xticks(rotation=90)
plt.show()

In [ ]:
#OCTOBER

In [ ]:
#plot graph for October SAT per date
q = sns.barplot(data=df10eve, x='index', y='verifieddate')
q.set(title='Evening Shift (1600-0000)')
q.set_xlabel("Date", fontsize = 20)
q.set_ylabel("Number of CT scans", fontsize = 20)
q.axhline(30)
plt.xticks(rotation=90)
plt.show()

q = sns.barplot(data=df10night, x='index', y='verifieddate')
q.set(title='Night Shift (0000-0800)')
q.set_xlabel("Date", fontsize = 20)
q.set_ylabel("Number of CT scans", fontsize = 20)
q.axhline(30)
plt.xticks(rotation=90)
plt.show()

In [ ]:
#calculate SAT per day for October
#for night shift
ct10night_sat = ct10night.groupby(by=["verifieddate"]).sum()
#make index into a column
ct10night_sat['date'] = ct10night_sat.index

#for evening shift
ct10eve_sat = ct10eve.groupby(by=["verifieddate"]).sum()
#make index into a column
ct10eve_sat['date'] = ct10eve_sat.index

In [ ]:
#plot graph for SAT per date for October
q = sns.barplot(data=ct10eve_sat, x='date', y='study_ascribable_time')
q.set(title='Evening Shift (1600-0000)')
q.set_xlabel("Date", fontsize = 20)
q.set_ylabel("Study Ascribable Time", fontsize = 20)
q.axhline(360)
plt.xticks(rotation=90)
plt.show()

q = sns.barplot(data=ct10night_sat, x='date', y='study_ascribable_time')
q.set(title='Night Shift (0000-0800)')
q.set_xlabel("Date", fontsize = 20)
q.set_ylabel("Study Ascribable Time", fontsize = 20)
q.axhline(300)
plt.xticks(rotation=90)
plt.show()